{% extends "registration/base.html" %}
{% load static %}
{% block title %}
    Форма сброса пароля
{% endblock %}
{% block content %}
  {% if next %}
  {% if user.is_authenticated %}
    <p>
        Your account doesn't have access to this page. To proceed,
        please login with an account that has access.
    </p>
  {% endif %}
{% endif %}
<div class="row justify-content-center">
    <div class="col-md-8 col-md-offset-4">
        <form id="msform" method="post" action="{% url 'admission:reset' %}">
            {% csrf_token %}
            <fieldset>
                <div class="modal-header">
                    <img class="embed-responsive" src="{% static 'admission/img/logo.png' %}">
                </div>
                <h2 class="fs-title my-3">Войти</h2>
                <h3 class="fs-subtitle alert-danger">
                    {% if form.errors %}
                        Пароли не совпадают
                    {% endif %}
                </h3>
                {{ form.email }}
                <input type="submit" name="Submit" class="action-button my-3" value="Сбросить пароль"/>
                <p><a href="{% url 'admission:login' %}">Войти</a></p>
                <div class="modal-footer d-flex justify-content-center">
                    <div class="mt-2">
                        <span>Не зарегистрированы?</span>
                        <a href="{% url 'admission:register' %}">Зарегистрируйтесь.</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}