{% extends "registration/base.html" %}
{% load static %}
{% block title %}
Сброс пароля.
{% endblock %}
{% block content %}

    {% if validlink %}
        <div class="row justify-content-center">
    <div class="col-md-6 col-md-offset-3">
        <form id="msform" method="post">

{#        <form id="msform" method="post" action="{% url 'password_reset_confirm' uidb64=uid token=token %}">#}
        {% csrf_token %}
            <fieldset>
               <div class="modal-header">
        <img class="embed-responsive" src="{% static 'admission/img/logo.png' %}">
                </div><p></p>
                <h2 class="fs-title">Войти</h2>
                <h3 class="fs-subtitle alert-danger">
                    {% if form.errors %}
                    Неверный email или пользователя с таким email не существует.
                    {% endif %}
                </h3>
                {{ form.new_password1 }}
                {{ form.new_password2 }}

                <input type="submit" name="Submit" class="action-button" value="Сбросить пароль"/>
             <p><a href="{% url 'login' %}">Войти</a></p>
            <div class="modal-footer">

                <div class=""> Вы не зарегистрированы?
                <a href="{% url 'register' %}">Зарегистрируйтесь.</a>

                </div>
                <div class="-align-left">

                </div>
            </div>
            </fieldset>
        </form>

    </div>
</div>
{#        <p>Please enter (and confirm) your new password.</p>#}
{#        <form action="" method="post">#}
{#            {% csrf_token %}#}
{#            <table>#}
{#                <tr>#}
{#                    <td>{{ form.new_password1.errors }}#}
{#                        <label for="id_new_password1">New password:</label></td>#}
{#                    <td>{{ form.new_password1 }}</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td>{{ form.new_password2.errors }}#}
{#                        <label for="id_new_password2">Confirm password:</label></td>#}
{#                    <td>{{ form.new_password2 }}</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td></td>#}
{#                    <td><input type="submit" value="Change my password" /></td>#}
{#                </tr>#}
{#            </table>#}
{#        </form>#}
    {% else %}
        <h1>Ошибка сброса пароля</h1>
        <p>Неверная ссылка для сброса пароля или эта ссылка устарела. (Запросите повторный сброс по следующей <a href="{% url 'reset' %}">ссылке)</a>  </p>
    {% endif %}

{% endblock %}