{% extends "layout/base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
    <h4 class="text-center">Добавление, удаление дипломов (грамот)</h4>
    <h6 class="text-center">Ограничение на количество файлов - {{ files_count_limit }}</h6>
    <p class="text-center">
        <a class="btn btn-primary mt-3" href="{% url 'admission:diploma_add' %}">Добавить</a>
    </p>
    <div class="container-fluid mb-2">
        {% if file_list %}
            <div class="container-fluid mt-3">
                <div class="d-flex justify-content-center flex-wrap mt-3 mx-2">
                    {% for f in file_list %}
                        <div class="d-flex flex-column m-3 p-3 border">
                            <div class="cert-image-wrapper text-center mx-2">
                                {% if f.file.extension == '.pdf' %}
                                    <img src="{% static 'admission/img/PDF_file_icon.png' %}" height="105"  alt="{{ f.file.name }}">
                                {% else %}
                                      <img class="cert-image" src="{{ f.file.url }}" alt="{{ f.file.name }}">
                                {% endif %}
                            </div>
                            <div class="text-center mt-auto">
                                <a class="btn btn-outline-danger mt-3" href="{% url 'admission:diploma_delete' pk=f.id %}">Удалить</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}