 {% load static %}

<form method="post" action="{{ action }}" class="">
    {% csrf_token %}
    <table class="table table-responsive-lg table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>ФИО</th>
                <th>Класс</th>
                <th>Профиль</th>
                <th>email</th>
                <th>Номер телефона ребенка</th>
                <th>ФИО мамы</th>
                <th>Номер телефона мамы</th>
                <th>ФИО отца</th>
                <th>Номер телефона отца</th>
                <th>Портфолио</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>
            {% for participant in participants %}
                <tr>
                    <td>{{ participant.pk }}</td>
                    <td>{{ participant.last_name }} {{ participant.first_name }} {{ participant.fathers_name }}</td>
                    <td>{{ participant.grade }}</td>
                    <td>{{ participant.profile }}</td>
                    <td>{{ participant.user.email }}</td>
                    <td>{{ participant.phone_party }}</td>
                    <td>{{ participant.fio_mother }}</td>
                    <td>{{ participant.phone_mother }}</td>
                    <td>{{ participant.fio_father }}</td>
                    <td>{{ participant.phone_father }}</td>
                    <td>{% for portfolio in participant.portfolio.all %}
                        <a href="{% get_media_prefix %}{{ portfolio }}">{{ portfolio|truncatechars:20 }}</a><br>
                    {% endfor %}
                    </td>
                    <td><input type="submit" class="btn-primary" name="{{ participant.pk }}" value="{{ accept }}">
                        <input type="submit" class="btn-info" name="{{ participant.pk }}" value="{{ reject }}">
                        {% if skip %}
                              <input type="submit" class="btn-danger" name="{{ participant.pk }}" value="{{ skip }}">

                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
{% include 'moderator/paginator.html' %}
</form>