{% load static %}





<!-- timeline time label -->
<div class="time-label">
                        <span class="bg-success">
                            {{ result.tour.results_release_date }}
                        </span>
</div>
<!-- /.timeline-label -->
<!-- timeline item -->
<div>
    <i class="fas fa-envelope bg-primary"></i>

    <div class="timeline-item">
        <span class="time"><i class="far fa-clock"></i> </span>

        <h3 class="timeline-header"><a href="#">Результаты {{ result.tour.tour_order }} тура</a> </h3>

        <div class="timeline-body">
            Добрый день! С результатами второго тура вы можете ознакомиться в таблице ниже.
            <table class="table table-responsive-lg table-striped">
                <thead>
                <tr>
                    <th>Предмет</th>
                    <th>Балл</th>
                    <th>Аппелляционный балл</th>
                    <th>Итоговый балл</th>
                    {#                {% if participant.extra_score %}<th>Дополнительные баллы (за портфолио)</th>{% endif %}#}
                </tr>
                </thead>
                <tbody>
                {% for subjres in result.result %}
                    <tr>
                        <td>{{ subjres.exam_subject.subject }}</td>
                        <td>{{ subjres.score  }} из {{ subjres.exam_subject.max_score }}</td>
                        <td>{% if subjres.appeal_score %}{{ subjres.appeal_score }} {% endif %}</td>
                        <td>{{ subjres.get_final_score }}</td>
                    </tr>
                {% endfor %}
                {% if participant.extra_score %}


                    <tr>
                        <td>Дополнительные баллы</td>
                        <td>{{ participant.extra_score }}</td>
                        <td></td>
                        <td>{{ participant.extra_score }}</td>
                    </tr>
                {% endif %}
                {#                {% if participant.extra_score %}<tr><td>Дополнительные баллы (за портфолио)</td><td>{{ participant.extra_score }}</td><td></td><td></td></tr>{% endif %}#}
                </tbody>

            </table>
            <br><a href="{% get_media_prefix %}ft/tasks.zip">Задания первого тура</a>

            {% if result.scan %}


                <br>Вы также можете посмотреть скан своей работы по следующей <a href="{% get_media_prefix %}/ft/{{ result.scan }}">ссылке</a>.
            {% endif %}
            <br>Если вы несогласны с результатами,то можете подать апелляцию по следующей <a href="https://forms.gle/TgotokqrVECSrKty5">ссылке</a>
            <h1>Апелляция будет проходить по ОЧНО в IT-лицее по адресу: территория Деревня Универсиады 32 10.06.2021 в 13.00. Вход строго по документам, удостоверяющим личность</h1>
            {#            {% if result.form %}#}
            {##}
            {##}
            {#                <br>Если вы не согласны с выставленными баллами, можно подать апелляцию до {{ result.tour.appeal_application_end_date }}.#}
            {#                </div>#}
            {#                <div class="timeline-footer">#}
            {##}
            {#                            <a href="#" class="btn btn-danger btn-sm">Подать аппелляцию</a>#}
            {#                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#tour{{ result.tour.pk }}">#}
            {#                        Подать апелляцию#}
            {#                    </button>#}
            {#                </div>#}
            {#            {% else %}#}
            {#                <div class="timeline-footer">#}
            {#                    {% if result.apeal_application %}#}
            {##}
            {##}
            {#                        <h4>Заявление на апелляцию подано. В личном кабинете будет ваше время апелляции.</h4>#}
            {#                        <br> Апелляция будет проходить в программе Microsoft Teams. <a href="https://www.microsoft.com/ru-ru/microsoft-teams/download-app">Скачать</a>#}
            {#                        <br>Комиссия будет ждать вас 5 минут, если вы не успеете подключиться, апелляция считается аннулированной. Имя в конференции должно быть ваше реальное. Видео доступ обязателен.#}
            {#                        {% if  result.tour.appeal_url %}#}
            {#                            <h3 class="text-info"> Апелляция будет проходить по следующей <a href="{{ result.tour.appeal_url }}">ссылке.</a></h3>#}
            {#                            <h3>Время вашей апелляции: {{ appeal_order }}</h3>#}
            {#                        {% endif %}#}
            {#                    {% else %}#}
            {#                        <br>Заявки на апелляцию больше не принимаются.#}
            {#                    {% endif %}#}
            {#                </div>#}

            {#            {% endif %}#}
        </div>
    </div>
</div>


