{% load static %}





<!-- timeline time label -->
<div class="time-label">
                        <span class="bg-success">
                            {{ result.tour.results_release_date }}
                        </span>
</div>
<!-- /.timeline-label -->
<!-- timeline item -->
<div>
    <i class="fas fa-envelope bg-primary"></i>

    <div class="timeline-item">
        <span class="time"><i class="far fa-clock"></i> </span>

        <h3 class="timeline-header"><a href="#">Результаты {{ result.tour.tour_order }} тура</a> </h3>

        <div class="timeline-body">
            Добрый день! С результатами второго тура вы можете ознакомиться в таблице ниже.
            <table class="table table-responsive-lg table-striped">
                <thead>
                <tr>
                    <th>Предмет</th>
                    <th>Балл</th>
                    <th>Аппелляционный балл</th>
                    <th>Итоговый балл</th>
                    {#                {% if participant.extra_score %}<th>Дополнительные баллы (за портфолио)</th>{% endif %}#}
                </tr>
                </thead>
                <tbody>
                {% for subjres in result.result %}
                    <tr>
                        <td>{{ subjres.exam_subject.subject }}</td>
                        {% ifequal subjres.exam_subject.type_of_scoring 'S' %}
                            <td>{{ subjres.score  }} из {{ subjres.exam_subject.max_score }}</td>

                            <td>{% if subjres.appeal_score %}{{ subjres.appeal_score }} {% endif %}</td>
                            <td>{{ subjres.get_final_score }}</td>
                        {% endifequal %}

                        {% ifequal subjres.exam_subject.type_of_scoring 'R' %}
                            <td>{% if subjres.score > 0 %}Рекомендован{% else %}Нерекомендован{% endif %}</td>

                            <td>{% if subjres.appeal_score %}{{ subjres.appeal_score }} {% endif %}</td>
                            <td>{% if subjres.score > 0 %}Рекомендован{% else %}Нерекомендован{% endif %}</td>
                        {% endifequal %}


                        {% ifequal subjres.exam_subject.type_of_scoring 'Z' %}
                            <td>{{ subjres.score }}
{#                                {% if subjres.score > 15 %}Зачет{% else %}Незачет{% endif %}#}
                            </td>

                            <td>{% if subjres.appeal_score %}{{ subjres.appeal_score }} {% endif %}</td>
                            <td>{% if subjres.score > 15 %}Зачет{% else %}Незачет{% endif %}</td>
                        {% endifequal %}




                    </tr>
                {% endfor %}
{#                {% if participant.extra_score %}#}
{##}
{##}
{#                    <tr>#}
{#                        <td>Дополнительные баллы</td>#}
{#                        <td>{{ participant.extra_score }}</td>#}
{#                        <td></td>#}
{#                        <td>{{ participant.extra_score }}</td>#}
{#                    </tr>#}
{#                {% endif %}#}
                {#                {% if participant.extra_score %}<tr><td>Дополнительные баллы (за портфолио)</td><td>{{ participant.extra_score }}</td><td></td><td></td></tr>{% endif %}#}
                </tbody>

            </table>
                <br>С заданиями вы можете ознакомиться по следующей <a href="{% get_media_prefix %}st/tasks2022.zip"> ссылке</a>.
                <br>Вы также можете посмотреть скан своей работы по следующей <a href="{% get_media_prefix %}{{ result.scan.file.name }}">ссылке</a>.
            <br>Протокол проверки всех работ <a href="{% get_media_prefix %}res/proto7.pdf">здесь</a>
            <br>Если вы несогласны с результатами,то можете подать апелляцию по следующей <a href="https://forms.gle/TgotokqrVECSrKty5">ссылке</a> до 23.00 13.06.2022
            <h4>Апелляция будет проходить ОЧНО в IT-лицее по адресу: территория Деревня Универсиады 32; 15.06.2022 с 14.00(по живой очереди). Вход строго по документам, удостоверяющим личность. </h4>
        </div>
    </div>
</div>


