{% load static %}


<!-- timeline time label -->
<div class="time-label">
                        <span class="bg-success">
                            {{ result.tour.results_release_date }}
                        </span>
</div>
<!-- /.timeline-label -->
<!-- timeline item -->
<div>
    <i class="fas fa-envelope bg-primary"></i>

    <div class="timeline-item">
        <span class="time"><i class="far fa-clock"></i> </span>

        <h3 class="timeline-header"><a href="#">Результаты {{ result.tour.tour_order }} тура</a></h3>

        <div class="timeline-body">
            Добрый день! С результатами второго тура вы можете ознакомиться в таблице ниже.
            <table class="table table-responsive-lg table-striped">
                <thead>
                <tr>
                    <th>Предмет</th>
                    <th>Балл</th>
                    <th>Аппелляционный балл</th>
                    <th>Итоговый балл</th>
                    {#                {% if participant.extra_score %}<th>Дополнительные баллы (за портфолио)</th>{% endif %}#}
                </tr>
                </thead>
                <tbody>
                {% for subjres in result.result %}
                    <tr>
                        <td>{{ subjres.exam_subject.subject }}</td>
                        {% ifequal subjres.exam_subject.type_of_scoring 'S' %}
                            <td>{{ subjres.score }} из {{ subjres.exam_subject.max_score }}</td>

                            <td>{% if subjres.appeal_score %}{{ subjres.appeal_score }} {% endif %}</td>
                            <td>{{ subjres.get_final_score }}</td>
                        {% endifequal %}

                        {% ifequal subjres.exam_subject.type_of_scoring 'R' %}
                            <td>{% if subjres.score > 0 %}Рекомендован{% else %}Нерекомендован{% endif %}</td>

                            <td>{% if subjres.appeal_score %}{{ subjres.appeal_score }} {% endif %}</td>
                            <td>{% if subjres.score > 0 %}Рекомендован{% else %}Нерекомендован{% endif %}</td>
                        {% endifequal %}


                        {% ifequal subjres.exam_subject.type_of_scoring 'Z' %}
                            <td>{% if subjres.score > 0 %}Зачет{% else %}Незачет{% endif %}</td>

                            <td>{% if subjres.appeal_score %}{{ subjres.appeal_score }} {% endif %}</td>
                            <td>{% if subjres.score > 0 %}Зачет{% else %}Незачет{% endif %}</td>
                        {% endifequal %}


                    </tr>
                {% endfor %}
                </tbody>

            </table>
{#            <br>Зачет по английскому языку засчитывается с 24 баллов.#}
            <br>Вы также можете посмотреть скан своей работы по следующей <a
                href="{% get_media_prefix %}{{ result.scan.file.name }}">ссылке</a>.
            {% if result.tour.tasks %}
                <br>Задания можно скачать
                <a href="{% get_media_prefix %}{{ result.tour.tasks.name }}">тут</a>.
            {% endif %}


            {% if result.tour.proto_appeal %}
                <br>Протокол проверки всех работ
                <a href="{% get_media_prefix %}{{ result.tour.proto_appeal.name }}">здесь</a>.
            {% endif %}

            {% if result.form %}
                <br>Если вы не согласны с выставленными баллами, можно подать апелляцию до
                {{ result.tour.appeal_application_end_date }}. Апелляция состоится 21.05.2024 в 13.00 в очном формате в
                СУНЦ
                IT-лицее КФУ(Деревня Универсиады 32, КПП-7). При себе необходимо иметь документ,
                удостоверяющий личность. Регистрация на апелляцию обязательная.
                <div class="timeline-footer">
                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                            data-target="#tour{{ result.tour.pk }}">
                        Подать апелляцию
                    </button>
                </div>
            {% else %}
                <div class="timeline-footer alert alert-info">
                    {% if result.apeal_application %}
                        <h4>Заявление на апелляцию подано. </h4>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</div>


