{% load static %}
Добрый день!
<br>Поздравляем Вас! Вы успешно прошли испытания в СУНЦ IT-лицей КФУ, и мы приглашаем Вас стать частью нашего лицея!
<br>Осталась лишь пара формальностей перед тем, как стать лицеистом.
<p> 1. Родительское собрание пройдет <u>28.05.2025 в
    16.00</u> в лицее в очном формате.

</p>
<p>В приёмную лицея (работает пн-пт с 9.00 до 16.00; обед 12.00-13.00) необходимо принести следующие документы:</p>
<ul class="list-group">
    <li class="list-group-item">Личное дело (личная карта) обучающегося. Количество печатей должно соответствовать
        количеству оконченных
        классов, запись о выбытии из школы обязательна.
    </li>
    <li class="list-group-item">Копия свидетельства о рождении (3 шт.)</li>
    <li class="list-group-item">
        <a href="{% get_media_prefix %}res/{% if participant.grade.number > 9 %}application10.doc{% else %}application7.doc{% endif %}">Заявление
            родителей о приеме в школу</a></li>
    <li class="list-group-item"><a href="{% get_media_prefix %}res/language.docx">Заявление на выбор родного языка</a>
    </li>
    <li class="list-group-item"><a href="{% get_media_prefix %}res/soglasiye.docx">Согласие на обработку персональных
        данных</a></li>
    <li class="list-group-item">Копии паспортов родителей</li>
    <li class="list-group-item">Копия ИНН (учащегося) (обязательно!).</li>
    <li class="list-group-item">Копия медицинского полиса (с обоих сторон) 3 шт.</li>
    <li class="list-group-item">Ксерокопии СНИЛС( 3шт).</li>
    <li class="list-group-item">Медицинская карта ребенка</li>
    <li class="list-group-item">Медицинская справка №086у(с указанием группы здоровья для физкультуры). Если в справке
        нет указания о группе
        здоровья, то тогда необходимо получить справку с указанием группы здоровья.
    </li>
    <li class="list-group-item">Паспорт ребенка если есть 14 лет (3 шт).</li>
    <li class="list-group-item">Аттестат (для поступающих в 10 класс).</li>
    <li class="list-group-item">Фото 6 шт (3 на 4).</li>
</ul>
<p>Абитуриентам, поступившим в 7 класс, нужно принести все документы в срок с 2 июня до 17 июня.
    Абитуриентам, поступившим в 10 класс, нужно принести все документы до 7 июля.
</p>
<p>3. Также для поступивших есть <a
        href="{% get_media_prefix %}trd/{% if participant.grade.number == 10 %}10.jpg{% else %}7.jpg{% endif %}">
    список литературы</a> для летнего чтения</p>
