{% load static %}
Добрый день!<br>Поздравляем Вас! Вы успешно прошли испытания в СУНЦ IT-лицей КФУ. Мы Вас приглашаем стать частью нашего лицея. Для того, чтобы стать лицеистом, осталось лишь пару формальностей.
<br> Родительское собрание пройдет <u>17.06.2022 в 17.00</u> (Не 18.06 как планировалось ранее).
<p>В приемную лицея необходимо принести следующие документы (Приемная работает с 9.00 до 16.00. Обед: 12.00-13.00):</p>
<ul>
    <li>Личная  карточка  обучающегося (личное дело) Количество печатей должно соответствовать количеству оконченных классов, запись о выбытии из школы обязательна.</li>
    <li>Копия  свидетельства  о  рождении (3 шт)</li>
    <li>Заявление  родителей  о  приеме  в  школу (заполнить в приемной)</li>
    <li>Заявление на родной язык (заполнить в приемной)</li>
    <li>Согласие на обработку персональных данных</li>
    <li>Копии  паспортов  родителей (опекунов)</li>
    <li>ИНН (учащегося) обязательно!</li>
    <li>Копия  медицинского  полиса (с обоих сторон) 3 шт.</li>
    <li>Сертификат  профилактических  прививок</li>
    <li>Ксерокопии  СНИЛС( 3шт)</li>
    <li>Медицинская  карта  ребенка</li>
    <li>Медицинские  справки  о  пропусках  учащегося(№086, группа здоровья, для физкультуры)</li>
    <li>Паспорт ребенка если есть 14 лет (3 шт)</li>
    <li>Аттестат (для поступающих в 10 класс)</li>
    <li>Справка с места жительства (выписка из домовой книги)</li>
    <li>Фото 6 шт (3 на 4)</li>
</ul>

<p>Также на лето есть <a href="{% get_media_prefix %}trd/{% if participant.grade.number == 10 %}10.jpg{% else %}7.jpg{% endif %}">
    следующий</a> список литературы для прочтения</p>

<h4><a href="https://t.me/joinchat/RMGY2GHxhzgEe2C0">Телеграмм канал лицея</a></h4>