
{% extends 'profile/base.html' %}
 {% load static %}
{% block content %}
{{ participant.first_name }} {{ participant.last_name }}
    <form method="post" action="{% url "appeal-person" pk %}">
        {% csrf_token %}
    {{ formset.management_form }}
        {% for form in formset %}
            {{ form.subject_name }}
            {{ form.as_p }}
{#            {{ form.appeal_score }}#}
{##}
{#            {{ form.exam_subject }}#}

        {% endfor %}

    <input type="submit"></form>
{% endblock %}