{% extends 'profile/base.html' %}
 {% load static %}
{% block title %}
            Список абитуриентов на апелляцию
{% endblock %}
{% block profile %}
         Список абитуриентов на апелляцию
{% endblock %}

{% block right-navbar %}
        <a class="btn btn-primary" href="{% url 'logout' %}">Выйти</a>
{% endblock %}

{% block breadcrumb %}

{% endblock %}

{% block content %}
 <div class="card card-primary card-outline">
              <div class="card-body box-profile">


                <div class="row justify-content-center">
                    <div class="col-auto">
                                      {% include 'first_tour/appeal_table.html' %}
        </div>
                    </div>
{#                  <div class="text-center">#}
{#                <a href="#" class="btn btn-primary"><b>Изменить данные</b></a>#}
{#                      </div>#}
              </div>
     <div class="card-footer clearfix">

              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- /.card -->
{#                {% for result in results %}#}
{#                    {% if result.formset %}#}
{#                        {% include 'first_tour/appeal_modal.html' %}#}
{#                    {% endif %}#}
{#            {% endfor %}#}
{% endblock %}