{% load static %}

<form method="post" action="{{ action }}" class="">
    {% csrf_token %}
    <table class="table table-responsive-lg table-striped">
        <thead>
        <tr class="text-center">
            <th>ФОТО</th>
            <th>ID</th>
            <th>ФИО</th>
            <th>Класс</th>
            {% for subject in subjects %}
                <th>{{ subject.subject.name }}</th>
            {% endfor %}


            <th>Доп. Баллы</th>
            <th>Итого</th>
        </tr>
        </thead>
        <tbody>
        {% for result in results %}
            <tr class="text-center justify-content-center">
                <td>
                    <div class="text-center">
                        <a href="{% get_media_prefix %}avatars/{{ result.participant.id }}.jpg" data-toggle="lightbox" data-title="{{  result.participant.last_name }} {{  result.participant.first_name }} {{  result.participant.fathers_name }}" data-gallery="gallery">
                            <img class="profile-user-img img-fluid" src="{% get_media_prefix %}avatars/{{ result.participant.id }}.jpg" alt="{{ result.participant.last_name }} {{ result.participant.first_name }} {{ result.participant.fathers_name }}">
                        </a>
                    </div></td>
                <td>{{ result.participant.pk }}</td>
                <td>{{ result.participant.last_name }} {{ result.participant.first_name }} {{ result.participant.fathers_name }}</td>
                <td>{{ result.liter }}</td>
                {% for res in result.results %}
                    <td>
                        {% if res %}
                            {% ifequal res.exam_subject.type_of_scoring "R" %}
                                fsfsdfsdfsdf
                            {% endifequal %}

                            {{ res.score }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                {% endfor %}
                <td>{% if result.participant.extra_score %}
                    {{ result.participant.extra_score }}
                {% else %}
                    0
                {% endif %}
                </td>
                <td>{{ result.overall }}</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
</form>