{% load get_final_score %}
{% load static %}
<style>
    table {
        /* Not required only for visualizing */
        border-collapse: collapse;
        width: 100%;
    }

    table thead tr th {
        /* Important */
        background-color: #dee2e6;
        position: sticky;
        z-index: 100;
        top: 0;
    }

    td {
        /* Not required only for visualizing */
        padding: 1em;
    }
</style>
<form method="post" action="{{ action }}" class="">
    {% csrf_token %}
    <table class="table table-responsive-lg table-striped">
        <thead>
        <tr class="text-center">
            <th>#</th>

            {% if request.GET.ID %}
                <th>ID</th>
            {% else %}
                <th>ФОТО</th>
            {% endif %}

            <th>ФИО</th>
            <th>Класс</th>
            {% for subject in subjects %}
                <th>{{ subject.subject.short_name }}</th>
            {% endfor %}


            {#            <th>Доп. Баллы</th>#}
            <th>Итого</th>
        </tr>
        </thead>
        <tbody>
        {% for result in results %}
            <tr class="text-center justify-content-center align-items-center">
                <td>{{ forloop.counter }}</td>

                {% if request.GET.ID %}
                    <td>{{ result.participant.pk }}</td>
                {% else %}
                    <td>
                        <div class="text-center">
                            <a href="{% get_media_prefix %}{{ result.participant.profile_photo }}"
                               data-toggle="lightbox"
                               data-title="{{ result.participant.last_name }} {{ result.participant.first_name }} {{ result.participant.fathers_name }} {{ result.participant.school }}"
                               data-gallery="gallery">
                                <img class="profile-user-img img-fluid"
                                     src="{% get_media_prefix %}{{ result.participant.profile_photo }}"
                                     alt="{{ result.participant.last_name }} {{ result.participant.first_name }} {{ result.participant.fathers_name }}">
                            </a>
                        </div>
                    </td>
                {% endif %}
                <td {% if result.olymp_status %}
                    class="alert-info"
                {% endif %} >{{ result.participant.last_name }} {{ result.participant.first_name }} {{ result.participant.fathers_name }}
                    {#                    <br>  <small class="text-muted">{{ result.participant.school }}</small>#}
                </td>
                <td>{{ result.liter }}</td>
                {% for res in result.results %}
                    <td
                            {% if res %}
                                {% ifequal res.exam_subject.type_of_scoring "R" %}
                                    {#                                    {% if res.score < 1 %}#}
                                    class="{{ res | get_class_for_score }}">
                                    {{ res | final_score }}

                                {% else %}
                                    >
                                    {{ res | final_score }}
                                {% endifequal %}
                                {% if request.GET.edit %}
                                    (
                                    <a href="{% url 'first_tour:mark_edit' res.pk %}?from={{ request.path }}?edit=true">E</a>
                                    )
                                {% endif %}

                            {% else %}
                                -
                            {% endif %}
                    </td>
                {% endfor %}
                {#                <td>{% if result.participant.extra_score %}#}
                {#                    {{ result.participant.extra_score }}#}
                {#                {% else %}#}
                {#                    0#}
                {#                {% endif %}#}
                {#                </td>#}
                <td>{{ result.overall | floatformat:2 }}</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
</form>