{% extends "layout/base.html" %}
{% load static %}

{% load bootstrap4 %}

{% block title %}Загрузка списка на второй тур{% endblock %}

{% block content %}
    <div>
    <h3 class="ml-3">Установка прохождения на следующий тур загрузкой данных из файла</h3>
        {% if msg %} {% autoescape off %} {{ msg }} {% endautoescape %} {% endif %}
        <div class="col-6 m-3">
            <form  method="post" enctype="multipart/form-data" id="upload_result">
                <div class="alert alert-info">
                    Тип загружаемого файла csv, кодировка utf-8, разделитель "<b>,</b>" - запятая.
                    <br><b>Данные загружаются на основе двух столбцов в таблице:</b> "id", "Статус"
                    <br>Остальные столбцы игнорируются.
                    <br><br><b>В столбце "Статус":</b>
                    <dl>
                        <li>"прошел" или "прошёл" или "п" - прошёл на второй тур;</li>
                        <li>"резерв" или "р" - в резерве на второй тур;</li>
                        <li>пустая ячейка - не прошёл, участник будет игнорирован</li>
                    </dl>
                    <a href="https://docs.google.com/spreadsheets/d/1zBcKa5hVt4WyLfDrVaZTC2zfJ6fMY_F_WllXwxNU6wQ/edit?usp=sharing">Скачать пример файла для загрузки</a>
                </div>
                {% csrf_token %}

                <div class="form-group row col-4">
                    <label class="tour_order" for="tour_order"></label>
                    <select name="tour_order" id="tour_order" class="form-select form-control" required>
                        <option selected disabled hidden value="">Выберите тур</option>
                        {% for t in tour_orders %}
                            <option value="{{ t.tour_order }}">Тур {{ t.tour_order }}</option>
                        {% endfor %}
                    </select>
                </div>

                {{ form.as_p }}
                <div class="form-group">
                    <input type="submit" value="Загрузить" id="submit">
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block script_buttom %}
    <script>
        submit_btn = document.getElementById('submit')
        submit_btn.classList.add('btn', 'btn-secondary')
        element = document.querySelector('.errorlist')
        if (element) {
            element.classList.add('alert', 'alert-warning');
            setTimeout(() => {
                element.remove()
            }, 5000)
        }
    </script>
{% endblock %}
