{% extends 'registration/base.html' %}
{% load static %}
{% block title %}
    Загрузка портфолио
{% endblock %}

{% block content %}

      <script src="{% static 'upload_test_app/js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'upload_test_app/js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
  <script src="{% static 'upload_test_app/js/jquery-file-upload/jquery.fileupload.js' %}"></script>

  {# PHOTOS PAGE SCRIPTS #}
  <script src="{% static 'upload_test_app/js/progress-bar-upload.js' %}"></script>

<div class="row justify-content-center">
    <div class="col-md-6 col-md-offset-3">

        <form id="msform" method="post" action="{% url 'portfolio_text' %}">
        {% csrf_token %}
            <fieldset>
               <div class="modal-header">
                   <img class="embed-responsive" src="{% static 'admission/img/logo.png' %}">
                   <p class="embed-responsive">dfas</p>
                </div>
                <p></p>
                <h2 class="fs-title">Загрузка портфолио</h2>
                <h3 class="fs-subtitle alert-danger">
                    {% if form.errors or request.GET %}
                    Неверный логин или пароль. Попробуйте снова.
                    {% endif %}
                </h3>
                    {{ form.portfolio_text }}
                  <div style="margin-bottom: 20px;">
                    <button type="button" class="btn btn-primary js-upload-photos">
                      <span class="glyphicon glyphicon-cloud-upload"></span> Загрузить дипломы
                    </button>
                    <input id="fileupload" type="file" name="file" multiple
                           style="display: none;"
                           data-url="{% url 'register4' %}"
                           data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'
                            accept=".pdf,image/*"
                    >
                  </div>

                  <table id="gallery" class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Список загруженных дипломов</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for file in files %}
                        <tr>
                          <td><a href="{{ file.file.url }}">{{ file.file.name }}</a></td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                <input type="submit" name="Submit" class="btn btn-primary text-white" value="Зарегистрироваться на 1 тур"/>
{#                <div class="modal-footer">#}
{#                    <div class=""> Вы не зарегистрированы?#}
{#                    <a href="{% url 'register' %}">Зарегистрируйтесь.</a>#}
{##}
{#                    </div>#}
{#                </div>#}

            </fieldset>
        </form>

    </div>
</div>

<div class="modal fade" id="modal-progress" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Загрузка...</h4>
        </div>
        <div class="modal-body">
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 0%;">0%</div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}