 {% load static %}

<form method="post" action="{{ action }}" class="">
    {% csrf_token %}
    <table class="table table-responsive-lg table-striped">
        <thead>
            <tr>
                <th>ID ребенка</th>
                <th>ФИО</th>
                <th>Класс</th>
                <th>Профиль</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>
            {% for participant in participants %}
                <tr>
                    <td>{{ participant.pk }}</td>
                    <td>{{ participant.last_name }} {{ participant.first_name }} {{ participant.fathers_name }}</td>
                    <td>{{ participant.grade }}</td>
                    <td>{% if participant.profile %}{{ participant.profile }} {% endif %}</td>

                    <td><input type="submit" class="btn-primary" name="{{ participant.pk }}" value="Пришел">
                        <input type="submit" class="btn-danger" name="{{ participant.pk }}" value="Дубликат">
                    </td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
</form>