{% extends 'profile/base.html' %}
 {% load static %}
{% block title %}
            Список участников
{% endblock %}
{% block profile %}
         Регистрация абитуриентов на Первый тур. ({{ current_grade }} классы)
{% endblock %}

{% block right-navbar %}
        <a class="btn btn-primary" href="{% url 'logout' %}">Выйти</a>
{% endblock %}

{% block breadcrumb %}

{% endblock %}
{% block left-navbar %}
    {% for grade in grades %}
        <li class="nav-item d-none d-sm-inline-block">
          <h4>  <a href="{% url 'first_tour_register' grade.pk %}" class="nav-link">{{ grade }} класс</a></h4>
        </li>
    {% endfor %}

                <li class="nav-item d-none d-sm-inline-block">
                    <h4>  <a href="" class="nav-link">Пришли {{ processed }} из {{ overall }}</a></h4>
                </li>


{% endblock %}
{% block content %}
 <div class="card card-primary card-outline">
              <div class="card-body box-profile">


                <div class="row justify-content-center">
                    <div class="col-auto">
                                      {% include 'first_tour/first_tour_register_table.html' %}
        </div>
                    </div>
{#                  <div class="text-center">#}
{#                <a href="#" class="btn btn-primary"><b>Изменить данные</b></a>#}
{#                      </div>#}
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- /.card -->
{% endblock %}